<header class="nds-header">
  <div class="container d-flex justify-content-between align-items-center">

    <!-- Left: Logo -->
    <div class="header-left d-flex align-items-center">
    <a href="/NDesignstudyosu/en/">
      <img src="/NDesignstudyosu/images/logo.png" alt="N Design Studio Logo" class="nds-logo">
    </a>
    </div>


    <!-- Right: Navigation -->
    <nav class="header-right">
      <ul class="nav nds-nav">
        <li class="nav-item"><a href="/NDesignstudyosu/{{ .Lang }}/about/" class="nav-link">{{ i18n "navAbout" }}</a></li>
        <li class="nav-item"><a href="/NDesignstudyosu/{{ .Lang }}/contact/" class="nav-link">{{ i18n "navContact" }}</a></li>
      </ul>

    </nav>

  </div>
</header>
