<!doctype html>
<html lang="{{ .Lang }}">
<head>
  <title>{{ .Permalink }}</title>
  <link rel="canonical" href="{{ .Permalink }}">
  <meta charset="utf-8">
  {{ with site.Params.googleAnalyticsID }}
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ . }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', {{ . | jsonify }});
  </script>
  {{ end }}
  <meta http-equiv="refresh" content="0; url={{ .Permalink }}">
</head>
</html>
