<div class="nds-hero-wrapper">

    <div class="nds-hero-card container">

        <div class="nds-hero-content">

            {{ with .Site.Params.homepage.preTitle }}
            <div class="nds-hero-pretitle">{{ . }}</div>
            {{ end }}

            <h1 class="nds-hero-title">
                {{ .Site.Params.homepage.title }}
            </h1>

            <p class="nds-hero-intro">
                {{ .Site.Params.homepage.intro }}
            </p>

            <div class="nds-hero-buttons">
                <a href="/{{ .Lang }}/posts/" class="btn btn-primary">
                    {{ .Site.Params.homepage.mainButton }}
                </a>

                <a href="/{{ .Lang }}/about/" class="btn btn-secondary">
                    {{ .Site.Params.homepage.secondButton }}
                </a>
            </div>

        </div>

    </div>

</div>
