<div class="nds-lang-dropdown">

    <!-- Toggle Button -->
    <button class="nds-lang-toggle">
        {{ .Site.Language.LanguageName }}
        <i class="bi bi-chevron-down"></i>
    </button>

    <!-- Dropdown Menu -->
    <ul class="nds-lang-menu">
        {{ range .Site.Languages }}
        <li class="{{ if eq $.Lang .Lang }}active{{ end }}">
            <a href="{{ .Lang | relLangURL }}">
                {{ .LanguageName }}
            </a>
        </li>
        {{ end }}
    </ul>

</div>
