{{- $css := resources.Get "scss/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint -}}
<!DOCTYPE html>
<html lang="{{ .Lang }}" {{ if eq .Lang "ar" }}dir="rtl" class="rtl"{{ end }}>
<head>
    {{ partial "head.html" . }}
</head>

<body>

    <div id="reading-progress"></div>

    {{ partial "header.html" . }}

    <main class="site-main">
      <div class="content-area {{ if .IsHome }}vh-100 d-flex align-items-center justify-content-center{{ else }}py-5{{ end }}">
        {{ block "main" . }}{{ end }}
      </div>
    </main>

    {{ partial "footer.html" . }}

    <script>
      document.addEventListener("scroll", function () {
        const scrollTop = window.scrollY;
        const docHeight = document.body.scrollHeight - window.innerHeight;
        const progress = (scrollTop / docHeight) * 100;
        document.getElementById("reading-progress").style.width = progress + "%";
      });
    </script>

</body>
</html>
