{{ partial "header.html" . }}

<section class="english-hero d-flex flex-column justify-content-center align-items-center text-center py-5">
  
  <h1 class="display-3 fw-bold mb-4">{{ .Site.Params.homepage.title }}</h1>

  <p class="english-intro mb-4">
    {{ .Site.Params.homepage.intro | markdownify }}
  </p>

  <div class="language-tabs mt-3">
    <a href="/ar/" class="lang-tab{{ if eq .Lang "ar" }} active{{ end }}">العربية</a>
    <a href="/en/" class="lang-tab{{ if eq .Lang "en" }} active{{ end }}">English</a>
    <a href="/tr/" class="lang-tab{{ if eq .Lang "tr" }} active{{ end }}">Türkçe</a>
  </div>

</section>

<div class="container">
  <!-- Description -->
  <div class="mt-5 align-items-center">{{ .Content }}</div>

  <!-- Latest posts -->
  {{ with (site.GetPage (printf "/%s/posts" .Lang)) }}
  <hr />
  <h2 class="text-center my-4">{{ $.Site.Params.homepage.blogTitle }}</h2>

  <div class="row g-3 mb-3">
    {{ range first 4 .Pages }}
    {{ partial "post-card.html" . }}
    {{ end }}
  </div>

  <div class="d-flex justify-content-center">
    <a class="btn btn-primary btn-lg px-5 py-3 fs-6 fw-bolder shadow-sm"
       href="{{ .RelPermalink }}">
       {{ $.Site.Params.homepage.blogButton }}
    </a>
  </div>

  {{ end }}
</div>

{{ partial "footer.html" . }}
