/* Load custom variables BEFORE the theme */
@import "variables";

/* Load your homepage styling */
@import "custom-home";

/* Now load the Magnolia theme */
@import "../../themes/magnolia/src/scss/main";

